
.heading{
    color: chartreuse;
}
.items-container{
    display: inline-block;
}
.items{
    padding: 10px;
    background-color: cornflowerblue;

nav ul{
    color: black;
    background-color: bisque;
    padding: 30px;
    font-family: "Times new roman";
    font-size: 18px;
}
